.frame{
    height:300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(20,auto);
    margin:144px 500px ;
    /* grid-row-gap: 1px;
    grid-column-gap: 1px; */
    /* position: absolute; */
}
.box{
    /* position: relative; */
    width: 20px;
    height: 20px;
    border: 1px solid rgb(219, 62, 62);
    /* background-color: rgb(179, 38, 38); */
    margin: 0px 0px ;
    /* top: 144px;
    left: 500px; */

}
.boxclick{
    background-color: rgb(206, 23, 48);
}